**.orig
*.rbc
*.swp
.DS_Store
.byebug_history
.env
.idea/
.irb_history
.rvmrc
/.bundle
/coverage/
/db/*.sqlite3
/log
/node_modules
/public/system
/spec/tmp
/storage
/tmp
/vendor/bundle
config/initializers/secret_token.rb
config/master.key
rerun.txt
/app/assets/builds/*
!/app/assets/builds/.keep
